<%= simple_form_for(@client, remote: request.xhr?, validate: true, html: { data: { modal: true } }) do |f| %>
  <%= f.error_notification %>


  <div class="form-group">
    <%= f.label :name, class: 'control-label' %><br>
    <%= f.text_field :name, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :surname, class: 'control-label' %><br>
    <%= f.text_field :surname, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :pantronymic, class: 'control-label' %><br>
    <%= f.text_field :pantronymic, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :gender, class: 'control-label' %><br>
    <%= f.text_field :gender, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :datebirth, class: 'control-label' %><br>
    <%= f.text_field :datebirth, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :phone, class: 'control-label' %><br>
    <%= f.text_field :phone, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :additional_phone, class: 'control-label' %><br>
    <%= f.text_field :additional_phone, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :email, class: 'control-label' %><br>
    <%= f.text_field :email, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :main_passport_series, class: 'control-label' %><br>
    <%= f.number_field :main_passport_series, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :main_passport_number, class: 'control-label' %><br>
    <%= f.number_field :main_passport_number, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :main_passport_get_by, class: 'control-label' %><br>
    <%= f.text_field :main_passport_get_by, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :main_passport_date_given, class: 'control-label' %><br>
    <%= f.date_select :main_passport_date_given, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :international_passport_series, class: 'control-label' %><br>
    <%= f.number_field :international_passport_series, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :international_passport_number, class: 'control-label' %><br>
    <%= f.number_field :international_passport_number, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

    <div class="form-group">
    <%= f.label :international_passport_get_by, class: 'control-label' %><br>
    <%= f.text_field :international_passport_get_by, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :international_passport_date_given, class: 'control-label' %><br>
    <%= f.date_select :international_passport_date_given, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :international_passport_date_end, class: 'control-label' %><br>
    <%= f.date_select :international_passport_date_end, class: 'form-control' %>
    <span class="help-block"></span>
  </div>


  <div class="actions">
    <%= f.submit  @client.new_record? ? "Create" : "Update", :class => "btn btn-primary" %>
  </div>

<% end %>

