<%= form_for(@client, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>

  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label' %><br>
    <%= f.text_field :name, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :surname, class: 'control-label' %><br>
    <%= f.text_field :surname, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :pantronymic, class: 'control-label' %><br>
    <%= f.text_field :pantronymic, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :gender, class: 'control-label' %><br>
    <%= f.text_field :gender, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :datebirth, class: 'control-label' %><br>
    <%= f.text_field :datebirth, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :phone, class: 'control-label' %><br>
    <%= f.text_field :phone, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :additional_phone, class: 'control-label' %><br>
    <%= f.text_field :additional_phone, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

   <div class="form-group">
    <%= f.label :email, class: 'control-label' %><br>
    <%= f.text_field :email, class: 'form-control' %>
    <span class="help-block"></span>
  </div>


  <div class="actions">
    <%= f.submit  @client.new_record? ? "Create Create" : "Update Customer", :class => "btn btn-primary" %>
  </div>

<% end %>

