<p id="notice"><%= notice %> </p>


<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Pantronymic:</strong>
  <%= @client.pantronymic %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Datebirth:</strong>
  <%= @client.datebirth %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Additional phone:</strong>
  <%= @client.additional_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>



