<h2>chart0</h2>

<%= select 'home', 'manager', User.all.collect { |u| [u.fio , u.id] },
           {}, {:class => 'form-control', :id => 'chart0-select-manager'} %>


<div class="input-daterange input-group" id="chart0-select-range-date">
  <input type="text" id="chart0-date-start" class="input-sm form-control" name="start"
         value="<%= (Date.today - 1.month).strftime('%d.%m.%Y') %>"/>
  <span class="input-group-addon">по</span>
  <input type="text" id="chart0-date-end" class="input-sm form-control" name="end"
         value="<%= Date.today.strftime('%d.%m.%Y') %>"/>
</div>

<div id="chart0_container" style="height: 370px; width: 100%; z-index: 1"></div>


<h2>chart1</h2>


<div class="input-daterange input-group" id="chart1-select-range-date">
  <input type="text" id="chart1-date-start" class="input-sm form-control" name="start"
         value="<%= (Date.today - 1.month).strftime('%d.%m.%Y') %>"/>
  <span class="input-group-addon">to</span>
  <input type="text" id="chart1-date-end" class="input-sm form-control" name="end"
         value="<%= Date.today.strftime('%d.%m.%Y') %>"/>
</div>

<div id="chart1_container" style="height: 370px; width: 100%; z-index: 1"></div>