<%= simple_form_for(@tour, html: { class: 'form-inline' }, validate: true) do |f| %>
  <%= f.error_notification %>


  <table class='table'>
    <thead>
    <tr>
      <th></th>
      <th>Clients</th>
    </tr>
    </thead>
    <tbody class='clients'>
      <%= f.simple_fields_for :clients do |builder| %>
        <%= render 'clients_fields', f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= link_to_add_association 'Add Client', f, :clients, class: 'btn btn-primary add-association', data: { association_insertion_node: '.clients', association_insertion_method: :append } %>
  </div>


  <div class="field">
    <%= f.label :customer_id %>
    <%= f.input_field :customer_id, :as => :select, class: 'select2', style: 'width: 250px;' %>
  </div>

  <div class="field">
    <%= f.label :tour_operator %>
    <%= f.text_field :tour_operator %>
  </div>

  <div class="field">
    <%= f.label :appeal %>
    <%= f.text_field :appeal %>
  </div>

  <div class="field">
    <%= f.label :advertising_source %>
    <%= f.text_field :advertising_source %>
  </div>

  <div class="field">
    <%= f.label :currency %>
    <%= f.text_field :currency %>
  </div>

  <div class="field">
    <%= f.label :passport_type %>
    <%= f.check_box :passport_type %>
  </div>

  <div class="field">
    <%= f.label :office_city %>
    <%= f.text_field :office_city %>
  </div>

  <div class="field">
    <%= f.label :agency_represented %>
    <%= f.text_field :agency_represented %>
  </div>

  <div class="field">
    <%= f.label :number_person %>
    <%= f.number_field :number_person %>
  </div>

  <div class="field">
    <%= f.label :tour_country %>
    <%= f.text_field :tour_country %>
  </div>

  <div class="field">
    <%= f.label :tour_city %>
    <%= f.text_field :tour_city %>
  </div>

  <div class="field">
    <%= f.label :date_start %>
    <%= f.date_select :date_start %>
  </div>

  <div class="field">
    <%= f.label :date_end %>
    <%= f.date_select :date_end %>
  </div>

  <div class="field">
    <%= f.label :hotel_name %>
    <%= f.text_field :hotel_name %>
  </div>

  <div class="field">
    <%= f.label :hotel_start %>
    <%= f.date_select :hotel_start %>
  </div>

  <div class="field">
    <%= f.label :hotel_end %>
    <%= f.date_select :hotel_end %>
  </div>

  <div class="field">
    <%= f.label :room_category %>
    <%= f.text_field :room_category %>
  </div>

  <div class="field">
    <%= f.label :type_room %>
    <%= f.text_field :type_room %>
  </div>

  <div class="field">
    <%= f.label :type_food %>
    <%= f.text_field :type_food %>
  </div>

  <div class="field">
    <%= f.label :route_there %>
    <%= f.text_field :route_there %>
  </div>

  <div class="field">
    <%= f.label :route_back %>
    <%= f.text_field :route_back %>
  </div>

  <div class="field">
    <%= f.label :flight_number %>
    <%= f.number_field :flight_number %>
  </div>

  <div class="field">
    <%= f.label :fly_type %>
    <%= f.text_field :fly_type %>
  </div>

  <div class="field">
    <%= f.label :type_of_transport_there %>
    <%= f.text_field :type_of_transport_there %>
  </div>

  <div class="field">
    <%= f.label :type_of_transport_back %>
    <%= f.text_field :type_of_transport_back %>
  </div>

  <div class="field">
    <%= f.label :flight_type_there %>
    <%= f.text_field :flight_type_there %>
  </div>

  <div class="field">
    <%= f.label :flight_type_back %>
    <%= f.text_field :flight_type_back %>
  </div>

  <div class="field">
    <%= f.label :flight_back_class %>
    <%= f.text_field :flight_back_class %>
  </div>

  <div class="field">
    <%= f.label :number_flight_back %>
    <%= f.number_field :number_flight_back %>
  </div>

  <div class="field">
    <%= f.label :transfer_route %>
    <%= f.text_field :transfer_route %>
  </div>

  <div class="field">
    <%= f.label :transfer_type %>
    <%= f.text_field :transfer_type %>
  </div>

  <div class="field">
    <%= f.label :excursion_program %>
    <%= f.text_field :excursion_program %>
  </div>

  <div class="field">
    <%= f.label :additional_service %>
    <%= f.text_field :additional_service %>
  </div>

  <div class="field">
    <%= f.label :cost_tour %>
    <%= f.number_field :cost_tour %>
  </div>

  <div class="field">
    <%= f.label :prepaid %>
    <%= f.number_field :prepaid %>
  </div>

  <div class="field">
    <%= f.label :voluntary_insurance %>
    <%= f.text_field :voluntary_insurance %>
  </div>

  <div class="field">
    <%= f.label :prihodnik_date %>
    <%= f.date_select :prihodnik_date %>
  </div>

  <div class="field">
    <%= f.label :prihodnik_prepaid %>
    <%= f.number_field :prihodnik_prepaid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
