<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @tour.customer_id %>
</p>

<p>
  <strong>Tour operator:</strong>
  <%= @tour.tour_operator %>
</p>

<p>
  <strong>Appeal:</strong>
  <%= @tour.appeal %>
</p>

<p>
  <strong>Advertising source:</strong>
  <%= @tour.advertising_source %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @tour.currency %>
</p>

<p>
  <strong>Passport type:</strong>
  <%= @tour.passport_type %>
</p>

<p>
  <strong>Office city:</strong>
  <%= @tour.office_city %>
</p>

<p>
  <strong>Agency represented:</strong>
  <%= @tour.agency_represented %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @tour.manager %>
</p>

<p>
  <strong>Number person:</strong>
  <%= @tour.number_person %>
</p>

<p>
  <strong>Tour country:</strong>
  <%= @tour.tour_country %>
</p>

<p>
  <strong>Tour city:</strong>
  <%= @tour.tour_city %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @tour.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @tour.date_end %>
</p>

<p>
  <strong>Hotel name:</strong>
  <%= @tour.hotel_name %>
</p>

<p>
  <strong>Hotel start:</strong>
  <%= @tour.hotel_start %>
</p>

<p>
  <strong>Hotel end:</strong>
  <%= @tour.hotel_end %>
</p>

<p>
  <strong>Room category:</strong>
  <%= @tour.room_category %>
</p>

<p>
  <strong>Type room:</strong>
  <%= @tour.type_room %>
</p>

<p>
  <strong>Type food:</strong>
  <%= @tour.type_food %>
</p>

<p>
  <strong>Route there:</strong>
  <%= @tour.route_there %>
</p>

<p>
  <strong>Route back:</strong>
  <%= @tour.route_back %>
</p>

<p>
  <strong>Flight number:</strong>
  <%= @tour.flight_number %>
</p>

<p>
  <strong>Fly type:</strong>
  <%= @tour.fly_type %>
</p>

<p>
  <strong>Type of transport there:</strong>
  <%= @tour.type_of_transport_there %>
</p>

<p>
  <strong>Type of transport back:</strong>
  <%= @tour.type_of_transport_back %>
</p>

<p>
  <strong>Flight type there:</strong>
  <%= @tour.flight_type_there %>
</p>

<p>
  <strong>Flight type back:</strong>
  <%= @tour.flight_type_back %>
</p>

<p>
  <strong>Flight back class:</strong>
  <%= @tour.flight_back_class %>
</p>

<p>
  <strong>Number flight back:</strong>
  <%= @tour.number_flight_back %>
</p>

<p>
  <strong>Transfer route:</strong>
  <%= @tour.transfer_route %>
</p>

<p>
  <strong>Transfer type:</strong>
  <%= @tour.transfer_type %>
</p>

<p>
  <strong>Excursion program:</strong>
  <%= @tour.excursion_program %>
</p>

<p>
  <strong>Additional service:</strong>
  <%= @tour.additional_service %>
</p>

<p>
  <strong>Cost tour:</strong>
  <%= @tour.cost_tour %>
</p>

<p>
  <strong>Prepaid:</strong>
  <%= @tour.prepaid %>
</p>

<p>
  <strong>Voluntary insurance:</strong>
  <%= @tour.voluntary_insurance %>
</p>

<p>
  <strong>Prihodnik date:</strong>
  <%= @tour.prihodnik_date %>
</p>

<p>
  <strong>Prihodnik prepaid:</strong>
  <%= @tour.prihodnik_prepaid %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
