<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TouristWebApp" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

  </head>


  <body>

    <header>
      <%= render 'layouts/navigation' %>
    </header>


    <div class="container">
      <div class="row">
        <div class="col-lg-11">

          <% flash.each do |name, message| %>
            <div class="alert alert-<%= name %>">
              <%= message %>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>


    <footer>
      <div class="container">
        <p>&copy; Company 2019</p>
      </div>
    </footer>
  </body>
</html>
